@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,1000&display=swap');


.body {
  overflow: hidden;
}


.left-box {
  background-color: #02343f;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  width: 500px;
  min-width: 0;

  /* margin-top: 85px; */
  box-sizing: content-box;
  height: 550px;
  min-height: 0;
}

.right-box {
  background-color: #e9edc9;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  width: 370px;
  min-width: 0;
  /* margin-top: 85px; */
  box-sizing: content-box;
  height: 550px;
  min-height: 0;
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1vw;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.error-message {
  color: #fe6244;
  font-size: 0.8vw;
  margin-top: 0.25rem;
}

.left-head {
  text-align: center;
  margin-bottom: 2rem;

  font-family: 'Nunito', sans-serif;
  color: #faedcd;
  margin-top: 120px;

  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c7e9b0 0%,
    #ccd5ae 10%,
    #faedcd 50%,
    #fefae0 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3vw;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.team {
  text-align: center;
  margin-bottom: 2rem;

  color: #ffead2;
  margin-top: 170px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vw;
}

.right-head {
  margin-top: 32px;
  text-align: center;
  margin-bottom: 2.8rem;
  color: #02343f;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8vw;
}

Label {
  color: #02343f;
  font-family: 'Nunito', sans-serif;
}

.in {
  margin-top: 30px;
  font-size: 1vw;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  background-color: #02343f;
  color: #f0edcc;
  font-family: 'Nunito', sans-serif;
}

.in:hover {
  background-color: #a4d0a4;
}

.up {
  color: #02343f;
  margin-top: 9px;
  font-size: 1vw;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  width: 100%;
  border-color: lightgray;
  font-family: 'Nunito', sans-serif;
  border: solid;
  border-width: thin;
  background-color: #fefae0;
}

.up:hover {
  background-color: #f0edcc;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fefae0;
}

.error {
  color: #fe6244;
  font-size: 1vw;
}

