@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.body {
  background-color: #fefae0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport 높이를 기준으로 설정 */
  margin-top: 1%;
}

.form-wrapper {
  background-color: #e9edc9;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 27vw;
  max-width: 100%;
  height: auto; /* 높이를 자동으로 설정 */
}

@media (max-width: 768px) { /* 768px 미만일 때 적용 */
  .form-wrapper {
    width: 90vw; /* viewport 넓이를 기준으로 설정 */
  }
}

.form-group {
  margin-bottom: 1rem;
}

.labeling {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: 'ChosunGu';
  font-weight: bold;
}

.input {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.설명 {
  display: block;
  color: red;
  margin-top: 0.25rem;
  font-family: 'ChosunGu';
  font-size: 0.9rem;
}

.회원 {
  margin-top: 30px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-weight: bold;
  background-color: #02343f;
  color: #f0edcc;
  font-family: 'ChosunGu';
}

.회원:hover {
  background-color: #a4d0a4;
}

.로그인 {
  color: #02343f;
  margin-top: 7px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  width: 100%;
  border-color: #f0edcc;
  font-family: 'ChosunGu';
  border: solid;
  border-color: lightgray;
  border-width: thin;
  background-color: #fefae0;
  font-weight: bold;
}

.로그인:hover {
  background-color: #f0edcc;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fefae0;
}

.중복 {
  color: #fe6244;
  font-size: 1vw;
}

