#footer {
  height: 150px;
  width: 100%;
  align-items: left;
  background-color: #ccd5ae;
  padding: 1rem;
}

.footerTitle {
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
}
.footerItem {
  display: inline-block;
  font-size: 0.7rem;
}

.footerCopyright {
  display: inline-block;
  font-size: 0.5rem;
}
