@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sidebar {
    position: fixed;
    bottom: 190px;
    right: 25px;
    width: 80px;
    height: 30vh;
    z-index: 9999;
    background-color:rgba(0, 73, 0, 0.3);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 15px 20%;
    border-bottom-left-radius: 15px 20%;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.sidebar div {
    font-family: 'RixYeoljeongdo_Regular';
    cursor: default;
}

.sidebarText {
    transition: transform 0.3s ease-out;
}

.sidebarText:hover {
    transform: scale(1.1);
}

.sidebarButton {
    position: fixed;
    bottom: 105px;
    right: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    z-index: 9999;
    text-align: center;
    background-color:rgba(0, 73, 0, 0.3);
    font-family: 'RixYeoljeongdo_Regular';
    font-size: 25px;
    padding: 0;
    cursor: default;
    transition: transform 0.3s ease-out;
}

.sidebarButton:hover {
    transform: scale(1.1);
  }