html,
body {
  padding: 0;
  margin: 0;
  background-color: #ccd5ae;
}

#wrapper {
  padding: 10px;
  min-height: calc(100vh - 10rem);
  background-color: #efddab44 !important;
  border-top: rgba(211, 211, 211, 0.532) solid 1px;
  /* background-color: #e9edc9; */
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
